.search {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

input, button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

button {
  background-color: #ff4655;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #e03e4b;
}
